<div class="post-content">
  <h2><%= @post.title %></h2>

  <p><%= @post.content %></p>
  <% if @post.user == current_user %>
    <%= link_to "Supprimer", @post, method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cette publication ?" } %>
  <% end %>
  <p><strong>URL :</strong> <%= link_to @post.url, @post.url %></p>

  <h3>Commentaires :</h3>
  <% @post.comments.each do |comment| %>
    <p>
      <strong><%= comment.user.nickname %>:</strong>
      <%= comment.content %>
      <% if comment.user == current_user %>
        <%= link_to "Supprimer", post_comment_path(@post, comment), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer ce commentaire ?" } %>
      <% end %>
    </p>
  <% end %>

  <h3>Ajouter un commentaire :</h3>
  <%= render 'comments/form' %>

  <%= link_to "Retourner à la liste des publications", posts_path %>
</div>
